appdirs==1.4.4
asgiref==3.7.2
attrs==23.2.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
bidict==0.22.1
blinker==1.7.0
Bottleneck==1.3.5
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.3.0
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
colorama==0.4.6
command-not-found==0.3
contourpy==1.0.7
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.7
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
distro-info==1.7+build1
Django==4.2.11
django-cors-headers==4.3.1
django-filter==23.5
django-guardian==2.4.0
djangorestframework==3.14.0
dnspython==2.6.1
docutils==0.20.1
duplicity==2.1.4
et-xmlfile==1.0.1
fasteners==0.18
filelock==3.13.1
fonttools==4.46.0
fs==2.4.16
google-api-python-client==1.7.12
google-auth==1.5.1
google-auth-httplib2==0.2.0
gpg==1.18.0
greenlet==3.0.3
gyp==0.1
html5lib==1.1
httplib2==0.20.4
idna==3.6
importlib-metadata==4.12.0
iniconfig==1.1.1
iotop==0.6
itypes==1.2.0
jaraco.classes==3.2.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.3.2
keyring==24.3.1
Kivy==2.2.1
kiwisolver==0.0.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
louis==3.29.0
lxml==5.2.1
lz4==4.0.2+dfsg
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
mpmath==0.0.0
msgpack==1.0.3
netaddr==0.8.0
netifaces==0.11.0
numexpr==2.9.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.46
openpyxl==3.1.2
packaging==24.0
pandas==2.1.4+dfsg
paramiko==2.12.0
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.25.1
pycups==2.0.1
PyDrive==1.3.1
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
PyNaCl==1.5.0
pynvim==0.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pytest==7.4.4
python-apt==2.7.7+ubuntu1
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
roman==3.3
rsa==4.9
scikit-learn==1.4.1.post1
SciPy==1.11.4
SecretStorage==3.3.3
setuptools==68.1.2
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
speedtest-cli==2.1.3
SQLAlchemy==1.4.50
sqlparse==0.5.0
ssh-import-id==5.11
sympy==1.12
systemd-python==235
tables==3.9.2
threadpoolctl==3.1.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==2.0.7
usb-creator==0.3.16
vboxapi==1.0
virtualenv==20.25.0+ds
wadllib==1.3.6
webencodings==0.5.1
wheel==0.42.0
xdg==5
xkit==0.0.0
zipp==1.0.0
