<div class="flex flex-col h-full">
  <div class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
    <h2 class="text-2xl font-semibold">Services</h2>
    <div class="flex items-center">
      <input type="text" placeholder="Search services..." class="bg-gray-700 text-white py-2 px-4 rounded-md mr-4"
        [(ngModel)]="searchTerm" />
      <div class="flex items-center">
        <div class="mr-4">
          <label class="mr-2">Filter:</label>
          <select class="bg-gray-700 text-white py-2 px-4 rounded-md" [(ngModel)]="activeFilter">
            <option value="">All</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
        <div>
          <label class="mr-2">Enabled:</label>
          <select class="bg-gray-700 text-white py-2 px-4 rounded-md" [(ngModel)]="enabledFilter">
            <option value="">All</option>
            <option value="enabled">Enabled</option>
            <option value="disabled">Disabled</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 overflow-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sort('name')">
            Service Name
            <i class="fas fa-sort ml-2"
              [ngClass]="{ 'fas fa-sort-up': sortColumn === 'name' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'name' && sortDirection === 'desc' }"></i>
          </th>
          <th scope="col" class="py-3 px-6">Description</th>
          <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sort('status')">
            Status
            <i class="fas fa-sort ml-2"
              [ngClass]="{ 'fas fa-sort-up': sortColumn === 'status' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'status' && sortDirection === 'desc' }"></i>
          </th>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30"
            cursor="pointer" (click)="refreshServices()">
            <path
              d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z">
            </path>
          </svg>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let service of filteredServices
              | filterServices: searchTerm:activeFilter:enabledFilter
              | orderBy: sortColumn:sortDirection
          " class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6">{{ service.name }}</td>
          <td class="py-4 px-6">{{ service.description }}</td>
          <td class="py-4 px-6">
            <span [ngClass]="{
                'text-green-500 py-1 px-3 rounded-full': service.status === 'active running',
                'text-red-500 py-1 px-3 rounded-full': service.status === 'inactive dead',
                'text-yellow-500 py-1 px-3 rounded-full': service.status === 'active exited'
              }">{{ service.status }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>