<div class="flex flex-col h-full">
  <div class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
    <h2 class="text-2xl font-semibold mr-2">Services<i class="fa-solid fa-arrows-rotate cursor-pointer ml-2"
        (click)=" refreshServices()"></i></h2>
    <div class="flex items-center">
      <input type="text" placeholder="Search services..." class="bg-gray-700 text-white py-2 px-4 rounded-md mr-4"
        [(ngModel)]="searchTerm" />
      <div class="flex items-center">
        <div class="mr-4">
          <label class="mr-2">Filter:</label>
          <select class="bg-gray-700 text-white py-2 px-4 rounded-md" [(ngModel)]="activeFilter">
            <option value="">All</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
        <div>
          <label class="mr-2">Enabled:</label>
          <select class="bg-gray-700 text-white py-2 px-4 rounded-md" [(ngModel)]="enabledFilter">
            <option value="">All</option>
            <option value="enabled">Enabled</option>
            <option value="disabled">Disabled</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 overflow-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sort('name')">
            Service Name
            <i class="fas fa-sort ml-2"
              [ngClass]="{ 'fas fa-sort-up': sortColumn === 'name' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'name' && sortDirection === 'desc' }"></i>
          </th>
          <th scope="col" class="py-3 px-6">Description</th>
          <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sort('status')">
            Status
            <i class="fas fa-sort ml-2"
              [ngClass]="{ 'fas fa-sort-up': sortColumn === 'status' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'status' && sortDirection === 'desc' }"></i>
          </th>
          <th scope="col" class="py-3 px-6">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let service of filteredServices
              | filterServices: searchTerm:activeFilter:enabledFilter
              | orderBy: sortColumn:sortDirection
          " class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6">{{ service.name }}</td>
          <td class="py-4 px-6">{{ service.description }}</td>
          <td class="py-4 px-6">
            <span [ngClass]="{
                'text-green-500 py-1 px-3 rounded-full': service.status === 'active running',
                'text-red-500 py-1 px-3 rounded-full': service.status === 'inactive dead',
                'text-yellow-500 py-1 px-3 rounded-full': service.status === 'active exited'
              }">{{ service.status }}</span>
          </td>
          <td>
            <div class="flex items-center space-x-3 justify-center">
              <i class="fa-solid fa-power-off fa-lg cursor-pointer" (click)="rebootService(service.name)"></i>
              <i class="fa-solid fa-pause fa-lg cursor-pointer" (click)="stopService(service.name)"></i>
              <i class="fa-solid fa-play fa-lg cursor-pointer" (click)="startService(service.name)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>