.server-list {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.server-list .bg-gray-700 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.35rem;
  width: 100%;
}

.server-list .bg-gray-700:hover {
  background-color: #374151;
}

.server-list .bg-gray-700:hover .server-name-container {
  opacity: 0;
}

.server-list .bg-gray-700:hover .ml-4 {
  opacity: 1;
}

.server-list .bg-gray-700 .ml-4 {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.server-list .bg-gray-700:hover .ml-4 {
  opacity: 1;
}