<!--server-list component-->
<button
  class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full mb-4 flex items-center justify-center">
  Add new server
  <svg class="w-4 h-4 ml-2 hidden hover:block" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
  </svg>
</button>
<!-- server-list.component.html -->
<div class="p-4 flex-grow overflow-y-auto server-list">
  <!-- Filtro de servidores -->
  <div class="flex items-center justify-between mb-4">
    <span class="mr-2">Servers</span>
    <a href="#" class="text-gray-400 hover:text-white">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </a>
  </div>
  <!-- Lista de servidores -->
  <div class="space-y-4">
    <!-- Ejemplo de servidor -->
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 1</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 2</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 1</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 2</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 1</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 2</div>
    </div>
    <div class="bg-gray-700 rounded-lg p-4">
      <div class="font-bold">Servidor 1</div>
    </div>

    <!-- Repite para más servidores -->
  </div>
</div>