.server-list {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.server-container {
  display: flex;
  align-items: center;
  background-color: #374151;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.server-container:hover {
  background-color: #4b5563;
}

.server-name-container {
  flex-grow: 1;
  transition: width 0.3s ease-in-out;
  width: 100%;
}

.server-name-container.selected {
  width: 80%;
}

.server-name-container input {
  width: 100%;
  box-sizing: border-box;
}

.server-actions {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.server-container:hover .server-actions,
.server-name-container.selected+.server-actions {
  opacity: 1;
}

/* Estilos de búsqueda */

.search-input-container {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  width: 0;
  opacity: 0;
}

.search-input-container.show {
  transform: translateX(0);
  width: calc(100% - 2rem);
  opacity: 1;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #374151;
  color: #fff;
  outline: none;
  width: 100%;
}

.servers-title {
  transition: opacity 0.3s ease-in-out;
}

.search-input-container.show+.servers-title {
  opacity: 0;
}