<!-- terminal.component.html -->
<div class="h-full bg-gray-800 text-white">
  <div class="py-4 px-6 flex justify-between items-center border-b border-gray-700">
    <h2 class="text-2xl font-semibold">Terminal</h2>
  </div>
  <div class="flex-1 overflow-auto terminal-output">
    <div *ngFor="let item of terminalHistory; let i = index">
      <p *ngIf="item.type === 'command'" class="prompt">
        <span class="text-green-500">{{ item.value }}</span>
      </p>
      <pre *ngIf="item.type === 'output'">{{ item.value }}</pre>
    </div>
  </div>
  <div class="terminal-input p-4 border-t border-gray-700 flex items-center">
    <span class="text-green-500 mr-2">$~ {{ currentDirectory }}</span>
    <input class="w-full bg-gray-800 text-white focus:outline-none" type="text" [(ngModel)]="command"
      (keydown.enter)="sendCommand()" placeholder="Enter command..." />
  </div>
</div>