<div class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-gray-700 rounded-lg shadow-lg p-6 max-w-2xl max-h-[80vh] overflow-auto relative">
    <h2 class="text-xl text-white font-bold mb-4">Install Package</h2>
    <div *ngIf="!searchResults.length">
      <input type="text" class="bg-gray-800 text-white py-2 px-5 rounded-md mb-4" [(ngModel)]="searchTerm"
        placeholder="Enter package name" />
      <div class="flex justify-end">
        <button class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md mr-2" (click)="onSearch()">
          <span *ngIf="!isLoading">Search</span>
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        </button>
        <button class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded-md" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
    <div *ngIf="searchResults.length" class="overflow-auto max-h-[calc(80vh-150px)] table-scrollbar">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Package Name</th>
            <th scope="col" class="py-3 px-6">Description</th>
            <th scope="col" class="py-3 px-6"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let package of searchResults" class="border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="py-4 px-6">{{ package.name }}</td>
            <td class="py-4 px-6">{{ package.description }}</td>
            <td class="py-4 px-6">
              <button class="text-green-500 hover:text-green-600" (click)="installPackage(package.name)">
                <i class="fas fa-download"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="searchResults.length" class="flex justify-end mt-4">
      <button class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded-md" (click)="onCancel()">
        Close
      </button>
    </div>
  </div>
</div>