<div class="flex">
  <div class="w-64 bg-gray-800 text-white">
    <app-sidebar (systemSelected)="onSystemSelected($event)" (optionSelected)="onOptionSelected($event)"
      [isLoggedIntoServer]="isLoggedIntoServer" [selectedSystem]="selectedSystem"></app-sidebar>
  </div>
  <div class="flex-1 p-4">
    <div *ngIf="selectedOption === 'OS Information'">
      <app-os-info (systemId)="selectedSystem?.id" [sudoPassword]="sudoPassword"></app-os-info>
    </div>
    <div *ngIf="selectedOption === 'Hardware Information'">

    </div>

  </div>
</div>