<!-- dashboard.component.html -->
<div class="flex h-screen">
  <div class="w-64 bg-gray-800 text-white">
    <app-sidebar (systemSelected)="onSystemSelected($event)" (optionSelected)="onOptionSelected($event)"
      [isLoggedIntoServer]="isLoggedIntoServer" [selectedSystem]="selectedSystem"></app-sidebar>
  </div>
  <div class="flex-1 bg-gray-800 main-content-container">
    <div *ngIf="selectedOption === 'System Information'" class="h-full">
      <app-os-info class="h-full"></app-os-info>
    </div>
    <div *ngIf="selectedOption === 'Hardware'" class="h-full">
      <app-hardware class="h-full"></app-hardware>
    </div>
    <div *ngIf="selectedOption === 'Processes'" class="h-full">
      <app-processes class="h-full"></app-processes>
    </div>
    <div *ngIf="selectedOption === 'Services'" class="h-full">
      <app-services class="h-full"></app-services>
    </div>
    <div *ngIf="selectedOption === 'Users & Groups'" class="h-full">
      <app-users-groups class="h-full"></app-users-groups>
    </div>
    <div *ngIf="selectedOption === 'Packages'" class="h-full">
      <app-packages class="h-full"></app-packages>
    </div>
    <div *ngIf="selectedOption === 'File Explorer'" class="h-full">
      <app-file-explorer class="h-full"></app-file-explorer>
    </div>
  </div>