<div class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-xl font-semibold mb-4">Enter Sudo Password</h2>
    <input type="password" class="border border-gray-300 rounded-md p-2 w-full mb-4" [(ngModel)]="sudoPassword"
      placeholder="Enter sudo password" />
    <div class="flex justify-end">
      <!-- password-modal.component.html -->
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2"
        (click)="onConfirm(sudoPassword, serviceName, action)">
        Confirm
      </button>
      <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>