<div class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
  <h2 class="text-2xl font-semibold">Scheduled Tasks</h2>
  <div class="flex items-center">
    <input type="text" placeholder="Search tasks..." class="bg-gray-700 text-white py-2 px-4 rounded-md mr-4"
      [(ngModel)]="searchTerm" />
    <div class="flex items-center">
      <div class="mr-4">
        <label class="mr-2">Filter:</label>
        <select class="bg-gray-700 text-white py-2 px-4 rounded-md" [(ngModel)]="activeFilter">
          <option value="">All</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>
    <button class="bg-green-500 text-white py-2 px-4 rounded-md" (click)="openCreateTaskModal()">
      <i class="fas fa-plus mr-2"></i>Add new task
    </button>

  </div>
</div>

<div class="flex-1 overflow-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="py-3 px-6 cursor-pointer" (click)="sortBy('name')">
          Name
          <i class="fas fa-sort ml-2"
            [ngClass]="{ 'fas fa-sort-up': sortColumn === 'name' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'name' && sortDirection === 'desc' }"></i>
        </th>
        <th class="py-3 px-6">Description</th>
        <th class="py-3 px-6 cursor-pointer" (click)="sortBy('nextRun')">
          Next Run
          <i class="fas fa-sort ml-2"
            [ngClass]="{ 'fas fa-sort-up': sortColumn === 'nextRun' && sortDirection === 'asc', 'fas fa-sort-down': sortColumn === 'nextRun' && sortDirection === 'desc' }"></i>
        </th>
        <th class="py-3 px-6">Status</th>
        <th class="py-3 px-6">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="scheduledTasks.length === 0">
        <td colspan="5" class="py-4 px-6 text-center text-3xl">
          No tasks found
        </td>
      </tr>
      <ng-container
        *ngFor="let task of scheduledTasks | filterTasks: searchTerm: activeFilter | orderByDate: sortColumn: sortDirection">
        <tr (click)="toggleTaskDetails(task)" class="border-b dark:bg-gray-800 dark:border-gray-700 cursor-pointer">
          <td class="py-4 px-6">{{ task.name }}</td>
          <td class="py-2 px-6">{{ task.description }}</td>
          <td class="py-4 px-6">{{ task.nextRun | date:'yyyy-MM-dd HH:mm' }}</td>
          <td class="py-4 px-6">
            <span class="px-2 py-1 rounded-full" [ngClass]="{
              'bg-green-700 text-white': task.status === 'active',
              'bg-red-500 text-white': task.status === 'inactive'
            }">
              {{ task.status }}
            </span>
          </td>
          <td class="py-4 px-6">
            <div class="flex items-center space-x-3 justify-center">
              <label class="switch">
                <input type="checkbox" [checked]="task.status === 'active'" (change)="toggleScheduledTaskStatus(task)">
                <span class="slider round"></span>
              </label>
              <i class="fas fa-edit fa-lg cursor-pointer" (click)="openEditTaskModal(task)"></i>
              <i class="fas fa-trash fa-lg cursor-pointer" (click)="deleteScheduledTask(task.name)"></i>
            </div>
          </td>
        </tr>
        <tr *ngIf="task.showDetails" class="border-b dark:bg-gray-800 dark:border-gray-700">
          <td colspan="5">
            <div class="flex flex-col">
              <div class="pr-2 bg-gray-200 dark:bg-gray-700 text-gray-500 dark:text-gray-400 py-2 px-4">
                <table class="w-full">
                  <tr>
                    <th class="py-2 px-6">Command</th>
                    <th class="py-2 px-6">Frecuence</th>
                    <th class="py-2 px-6">Last Run</th>
                  </tr>
                  <tr>
                    <td class="py-4 px-6">{{ task.command }}</td>
                    <td class="py-2 px-6">{{ task.cron | readableCron }}</td>
                    <td class="py-2 px-6">{{ task.lastRun | date:'yyyy-MM-dd HH:mm' }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-scheduled-task-new *ngIf="showModal" [task]="selectedTask" (submit)="onSubmit($event)"
  (cancel)="onCancel()"></app-scheduled-task-new>