<div class="flex-grow overflow-y-auto">
  <div class="flex justify-between items-center mb-1 relative bg-gray-800 p-4 rounded-lg shadow-md">
    <div class="flex items-center w-full justify-between">
      <span class="mr-2 text-white font-semibold" *ngIf="selectedSystem">{{ selectedSystem.name }}</span>
      <div class="flex items-center">
        <i class="fa-solid fa-arrow-right-from-bracket text-gray-400 hover:text-white cursor-pointer transition-colors duration-200"
          (click)="logout()"></i>
      </div>
    </div>
  </div>

  <div class="p-4 flex-grow overflow-y-auto">
    <div class="space-y-3">
      @for (option of serverOptions; track $index) {
      <div class="bg-gray-700 rounded-lg p-2 flex items-center justify-between hover:bg-gray-600 transition-colors duration-200
    relative cursor-pointer" (click)="handleOptionClick(option)"
        [ngClass]="{'bg-gray-200': option === selectedOption, 'text-gray-800': option === selectedOption}">
        {{option}}
        <i class="fa-solid fa-chevron-right text-gray-400"></i>
      </div>
      }
    </div>
  </div>
</div>