<div class="flex">
  <!-- Sidebar -->
  <app-sidebar (systemSelected)="onSystemSelected($event)" (registerFormToggled)="toggleRegisterForm()"
    (userProfileClicked)="toggleUserProfile()"></app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-grow"
    [ngClass]="{'main-content-background': !selectedSystem && !showRegisterForm && !showUserProfile}">
    <app-register-server *ngIf="showRegisterForm"></app-register-server>
    <app-ssh-form *ngIf="showSshForm && selectedSystem" [selectedSystem]="selectedSystem"></app-ssh-form>
    <app-user-profile *ngIf="showUserProfile"></app-user-profile>
  </div>
</div>