<!-- sidebar.component.html -->
<div class="flex h-screen bg-gray-800 text-white">
  <div class="w-64 border-r-2 border-gray-700 flex flex-col">
    <div class="p-4">
      <div class="flex items-center justify-center text-2xl font-extrabold">
        AdmInSight
      </div>
    </div>
    <button (click)="toggleRegisterForm()" *ngIf="!isLoggedIntoServer"
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded m-4 mb-1">
      Add new server +
    </button>

    <div class="p-4 flex-grow overflow-y-auto server-list" *ngIf="!isLoggedIntoServer">
      <app-server-list (systemSelected)="onSystemSelected($event)"></app-server-list>
    </div>
    <div class="p-4 flex-grow overflow-y-auto server-list" *ngIf="isLoggedIntoServer">
      <app-server-options [selectedSystem]="selectedSystem"
        (optionSelected)="onOptionSelected($event)"></app-server-options>
    </div>


    <div class="p-4 border-t-2 border-gray-700 bg-gray-800 flex justify-between items-center">
      <span class="mr-2" *ngIf="userData">{{ userData.username }}</span>
      <div class="flex items-center">
        <i class="fa-solid fa-circle-user text-gray-400 hover:text-white mr-3 cursor-pointer"></i>
        <i class="fa-solid fa-arrow-right-from-bracket text-gray-400 hover:text-white cursor-pointer"
          (click)="logoutUser()"></i>
      </div>
    </div>
  </div>
</div>