<div class="h-full">
  <div class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
    <h2 class="text-2xl font-semibold">Users & Groups<i class="fa-solid fa-arrows-rotate cursor-pointer ml-2"
        (click)="refresh()"></i></h2>
    <div class="flex items-center">
      <div class="flex bg-gray-700 rounded-md">
        <button class="py-2 px-4 rounded-l-md"
          [ngClass]="{ 'bg-gray-600': activeTab === 'users', 'bg-gray-700': activeTab !== 'users' }"
          (click)="activeTab = 'users'">
          Users
        </button>
        <button class="py-2 px-4 rounded-r-md"
          [ngClass]="{ 'bg-gray-600': activeTab === 'groups', 'bg-gray-700': activeTab !== 'groups' }"
          (click)="activeTab = 'groups'">
          Groups
        </button>
      </div>
      <button class="bg-green-500 text-white py-2 px-4 rounded-md ml-4"
        (click)="showAddModal = true; addModalType = activeTab === 'users' ? 'user' : 'group'">
        <i class="fas fa-plus mr-2"></i>{{ activeTab === 'users' ? 'Add User' : 'Add Group' }}
      </button>
      <input type="text" placeholder="{{ activeTab === 'users' ? 'Search users...' : 'Search groups...' }}"
        class="bg-gray-700 text-white py-2 px-4 rounded-md ml-4" [(ngModel)]="searchTerm" />
    </div>
  </div>
  <div class="flex-1 overflow-auto">
    <div *ngIf="activeTab === 'users'" class="h-full">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sortUsers('name')">
              Username
              <i class="fas fa-sort ml-2" [ngClass]="{
                  'fas fa-sort-up': sortUserColumn === 'name' && sortUserDirection === 'asc',
                  'fas fa-sort-down': sortUserColumn === 'name' && sortUserDirection === 'desc'
                }"></i>
            </th>
            <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sortUsers('uid')">
              UID
              <i class="fas fa-sort ml-2" [ngClass]="{
                  'fas fa-sort-up': sortUserColumn === 'uid' && sortUserDirection === 'asc',
                  'fas fa-sort-down': sortUserColumn === 'uid' && sortUserDirection === 'desc'
                }"></i>
            </th>
            <th scope="col" class="py-3 px-6">Home Directory</th>
            <th scope="col" class="py-3 px-6">Default Shell</th>
            <th scope="col" class="py-3 px-6">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredUsers.length === 0">
            <td colspan="5" class="py-4 px-6 text-center text-3xl">
              <i class="fas fa-spinner fa-spin"></i> Loading...
            </td>
          </tr>
          <tr
            *ngFor="let user of filteredUsers | filterUsers: searchTerm | stringOrder: sortUserColumn:sortUserDirection"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="py-4 px-6">
              <input type="text" class="bg-gray-800 text-white py-2 px-4 rounded-md" [(ngModel)]="user.name"
                [disabled]="!user.isEditing" />
            </td>
            <td class="py-4 px-6">{{ user.uid }}</td>
            <td class="py-4 px-6">
              <input type="text" class="bg-gray-800 text-white py-2 px-4 rounded-md" [(ngModel)]="user.homeDir"
                [disabled]="!user.isEditing" />
            </td>
            <td class="py-4 px-6">
              <input type="text" class="bg-gray-800 text-white py-2 px-4 rounded-md" [(ngModel)]="user.shell"
                [disabled]="!user.isEditing" />
            </td>
            <td class="py-4 px-6">
              <div class="flex items-center justify-center space-x-2">
                <i *ngIf="!user.isEditing; else editMode" class="fas fa-edit cursor-pointer"
                  (click)="editUser(user)"></i>
                <ng-template #editMode>
                  <i class="fas fa-check cursor-pointer" (click)="saveUserChanges(user)"></i>
                </ng-template>
                <i class="fas fa-trash cursor-pointer" (click)="deleteUser(user)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="activeTab === 'groups'" class="h-full">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sortGroups('name')">
              Group Name
              <i class="fas fa-sort ml-2" [ngClass]="{
                  'fas fa-sort-up': sortGroupColumn === 'name' && sortGroupDirection === 'asc',
                  'fas fa-sort-down': sortGroupColumn === 'name' && sortGroupDirection === 'desc'
                }"></i>
            </th>
            <th scope="col" class="py-3 px-6 cursor-pointer" (click)="sortGroups('gid')">
              GID
              <i class="fas fa-sort ml-2" [ngClass]="{
                  'fas fa-sort-up': sortGroupColumn === 'gid' && sortGroupDirection === 'asc',
                  'fas fa-sort-down': sortGroupColumn === 'gid' && sortGroupDirection === 'desc'
                }"></i>
            </th>
            <th scope="col" class="py-3 px-6">Users</th>
            <th scope="col" class="py-3 px-6">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredGroups.length === 0">
            <td colspan="4" class="py-4 px-6 text-center text-3xl">
              <i class="fas fa-spinner fa-spin"></i> Loading...
            </td>
          </tr>
          <tr
            *ngFor="let group of filteredGroups | filterGroups: searchTerm | stringOrder: sortGroupColumn:sortGroupDirection"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="py-4 px-6">
              <input type="text" class="bg-gray-800 text-white py-2 px-4 rounded-md" [(ngModel)]="group.name"
                [disabled]="!group.isEditing" />
            </td>
            <td class="py-4 px-6">{{ group.gid }}</td>
            <td class="py-4 px-6">
              <input type="text" class="bg-gray-800 text-white py-2 px-4 rounded-md" [(ngModel)]="group.users"
                (ngModelChange)="onGroupUsersChange(group)" [disabled]="!group.isEditing" />
              <span *ngIf="group === editingGroup">{{ group.users }}</span>
            </td>
            <td class="py-4 px-6">
              <div class="flex items-center justify-center space-x-2">
                <i *ngIf="!group.isEditing; else editMode" class="fas fa-edit cursor-pointer"
                  (click)="editGroup(group)"></i>
                <ng-template #editMode>
                  <i class="fas fa-check cursor-pointer" (click)="saveGroupChanges(group)"></i>
                </ng-template>
                <i class="fas fa-trash cursor-pointer" (click)="deleteGroup(group)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Password Modal -->
  <app-password-modal *ngIf="showPasswordModal" title="Enter sudo password" (confirm)="onPasswordConfirm($event)"
    (cancel)="onPasswordCancel()"></app-password-modal>

  <!-- Add Modal -->
  <app-add-user-group-modal *ngIf="showAddModal" [title]="addModalType === 'user' ? 'Add User' : 'Add Group'"
    [type]="addModalType" (confirm)="onAddConfirm($event)" (cancel)="onAddCancel()"></app-add-user-group-modal>

</div>